*/__pycache__/*
*.pyc
*.ipynb_checkpoints/
*.json
*.pkl
*.h5
*.csv

# Jupyter Notebooks
*.ipynb

# Logs
*.log
*.txt

# dvc nonsense
*/.dvc/cache/
*/.dvc/cache/*
examples/*/.dvc/cache/



# egg stuff
deckard.egg-info/*

# data science stuff
*.zip
*.db
*.csv
*.pickle
*.pb
*.txt

# windows stuff
*.exe
*.dll
*.pyd
*.pyo
*.pyc
*.idb
*.ilk
*.stackdump
.vscode/
.gitignore
.coverage

*model

# package files
build/