*/__pycache__/*
*.pyc
*.pyc*
*.ipynb_checkpoints/
*.json
*.pkl
*.h5
*.csv

# Jupyter Notebooks
*.ipynb

# Logs
*.log
*.txt

# dvc nonsense
*/.dvc/cache/
*/.dvc/cache/*
examples/*/.dvc/cache/*



# egg stuff
deckard.egg-info/*

# data science stuff
*.zip
*.db
*.csv
*.pickle
*.pb
*.txt
*.model
*variables.index
*variables.data*
*model

# windows stuff
*.exe
*.dll
*.pyd
*.pyo
*.pyc
*.idb
*.ilk
*.stackdump
.vscode/
.gitignore
.coverage


# package files
build/
env/
*.deb
*.deb*
*.egg
test/*/pytest_report.html

# include everything in the .github folder
!.github/


# include everything in the .github folder
!.github/
!test/

# the submodule
adversarial-robustness-toolbox
test/base/__pycache__/test_experiment.cpython-310-pytest-7.1.3.pyc.21416

# Mounted blob storage
simplymathematics.blob.core.windows.net/
examples/time_series/timeseries/
