# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Data files
*.pkl
*.h5
*.hdf5
*.npz
*.npy
*.xls
*.xlsx
*.csv
*.json
*.npz
*.npy


# PyTorch Model Checkpoints
*.pt
*.pth
# Tensorflow Models
*.h5
*.written
# Pickle files
*.pkl
*.pickle
# Model files
*.pb
*.tf/
*_tf/
# Sqlite files
*.sqlite3
*.sqlite
*.db
# env
env/

# Python egg metadata
**/*.egg-info/*
**/*.egg-info
deckard/deckard.egg-info/*

# Compressed Data Files
*.tar.gz

*log.txt
*.hydra


# envs
env/


# random pdfs
*.pdf
# random pngs
*.png

# screenlog
screenlog.*

# env310
env310/*
# dvc read-write protect files in  the examples folder
examples/*/.dvc/tmp/lock
examples/*/.dvc/tmp/lock
examples/*/.dvc/tmp/rwlock
examples/*/.dvc/tmp/rwlock.lock
