/accuracy_vs_attack_parameters.eps
/confidence_vs_attack_parameters.eps
/train_time_vs_attack_parameters.eps
/retrain_accuracy.eps
/retrain_confidence_vs_attack_parameters.eps
/retrain_time.eps
/accuracy_vs_attack_parameters.pdf
/confidence_vs_attack_parameters.pdf
/train_time_vs_attack_parameters.pdf
/retrain_accuracy.pdf
/retrain_confidence_vs_attack_parameters.pdf
/retrain_time.pdf
