/accuracy_vs_attack_parameters.pdf
/accuracy_vs_features.pdf
/accuracy_vs_samples.pdf
/confidence_vs_attack_parameters.pdf
/train_time_vs_attack_parameters.pdf
/train_time_vs_features.pdf
/train_time_vs_samples.pdf
/retrain_accuracy.pdf
/retrain_confidence_vs_attack_parameters.pdf
/retrain_time.pdf
