/acc.pdf
/time.pdf
/cost.pdf
/power.pdf
/aft_comparison.tex
/weibull_aft.pdf
/weibull_epochs_partial_effect.pdf
/cox_epochs_partial_effect.pdf
/cox_aft.pdf
/log_logistic_aft.pdf
/log_logistic_epochs_partial_effect.pdf
/log_normal_aft.pdf
/log_normal_epochs_partial_effect.pdf
